<?xml version="1.0"?>
<phpunit
        bootstrap="./test/phpunit/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="Integration workflow zf2 and doctrine">
            <directory>./test/phpunit/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-php" target="./build/logs/coverage/coverage-phpunit.cov"/>
    </logging>

    <listeners>
        <listener class="\OldTown\Workflow\Doctrine\ZF2\PhpUnit\Utils\InitTestAppListener" file="./test/phpunit/utils/InitTestAppListener.php">
            <arguments>
                <array>
                    <!-- Конфиг приложения-->
                    <element key="appConfig">
                        <array>
                            <element key="doctrine">
                                <array>
                                    <element key="connection">
                                        <array>
                                            <element key="test">
                                                <array>
                                                    <element key="driverClass">
                                                        <string>\Doctrine\DBAL\Driver\PDOMySql\Driver</string>
                                                    </element>
                                                    <element key="params">
                                                        <array>
                                                            <element key="host">
                                                                <string>test_hosts</string>
                                                            </element>
                                                            <element key="port">
                                                                <string>test_port</string>
                                                            </element>
                                                            <element key="user">
                                                                <string>test_user</string>
                                                            </element>
                                                            <element key="password">
                                                                <string>test_password</string>
                                                            </element>
                                                            <element key="dbname">
                                                                <string>test_database_name</string>
                                                            </element>
                                                        </array>
                                                    </element>
                                                </array>
                                            </element>
                                        </array>
                                    </element>
                                </array>
                            </element>
                        </array>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

</phpunit>
